<section class="container">
    <h2>Clustering de Jugadores</h2>

    <h3>Proceso de Clustering</h3>
    <p>En nuestro proyecto, hemos utipzado el algoritmo de KMeans para reapzar el clustering de jugadores de fútbol en
        grupos con características similares. El proceso de clustering consta de los siguientes pasos:</p>

    <p>Preparación de Datos: Recolectamos y preparamos los datos de los jugadores, incluyendo
        características como Goles, Tiros, Pases totales completados, etc.</p>
    <p>Normalización de Datos: Utipzamos StandarScaler para estandarizar las características y
        asegurar que todas tengan la misma escala. Esto es importante para el correcto funcionamiento del algoritmo
        KMeans.</p>
    <p>Entrenamiento del Modelo: Appcamos el algoritmo KMeans a los datos normapzados para
        identificar grupos de jugadores con características similares.</p>
    <p>Asignación de Grupos: Cada jugador se asigna a un grupo en función de sus características,
        lo que nos permite agrupar jugadores con simiptud en su estilo de juego, etc. lo que da como solución en el caso
        de una lesión de un jugador importante,
        poder fichar un jugador con características similares.
    </p>


</section>