*{
    padding: 1%;
    color: #000000;
    text-align: justify;
}
.container {
    text-align: center;
}
img {
    width: 25vw;
    padding: 1%;
    display: block;
    margin: 0 auto;
}
h2 {
    font-family: Monserat;
    text-align: center;
    font-weight: bold;
}

form {
    width: 75vw;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid #eae2c9;
    border-radius: 10px;
    background-color: #9c843d;
}


label {
    display: block;
    margin-bottom: 8px;
    color: #ffff;
    font-size: 3.5vw;
}

input[type="email"],
input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    color: #000000;
}

input[type="email"]:focus,
input[type="text"]:focus {
    border-color: #214c6e;
    outline: none;
    box-shadow: 0 0 5px #dfe3e7;
}


button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    border: 3px solid #9c843d;
    color: #9c843d;
    font-weight: bold;
    background-color: #eae2c9;
    border-radius: 50px;
    margin: 1%;
    width: 27vw;
    height: 10vw;
    font-size: 4vw;
}
@media (min-width: 480px) and (max-width: 768px) {

    button {
        width: 15vw;
        height: 8vw;
        font-size: 3vw;
        padding: 1%;
    }

    label {
        font-size: 3.25vw;
    }

}

@media (min-width: 768px) and (max-width: 999px) {

    button {
        width: 15vw;
        height: 6vw;
        font-size: 2vw;
    }

    label {
        font-size: 1.25vw;
    }

}

@media (min-width: 999px) and (max-width: 1199px) {
    button {
        width: 10vw;
        height: 4.5vw;
        font-size: 1.5vw;
    }

    label {
        font-size: 1.55vw;
    }
}


@media only screen and (min-width: 1200px) {
    .title h2 {
        text-align: center;
        font-size: 2.5vw
    }
    p {
        font-size: 1vw;
    }    
    span {
        font-size: 1.5vw;
    }
    button {
        width: 8vw;
        height: 2.5vw;
        font-size: 1vw;
    }
    form{
        width: 50vw;
    }
    label {
        font-size: 1.25vw;
    }
    
}