<h2>Documentación</h2>

<nav class="container">
    <a href="https://github.com/victorfernandezesp/FutApi/wiki/1_Introduccion">Introducción</a>
    <a href="https://github.com/victorfernandezesp/FutApi/wiki/2_Objetivos_Y_Requisitos">Objetivos</a>
    <a href="https://github.com/victorfernandezesp/FutApi/wiki/3_Estudio_Previo">Estudio</a>
    <a href="https://github.com/victorfernandezesp/FutApi/wiki/4_Plan_De_Trabajo">Plan de Trabajo</a>
    <a href="https://github.com/victorfernandezesp/FutApi/wiki/5_Diseno">Diseño</a>
    <a href="https://github.com/victorfernandezesp/FutApi/wiki/6_Implantacion">Implantación</a>
    <a href="https://github.com/victorfernandezesp/FutApi/wiki/7_Recursos">Recursos</a>
    <a href="https://github.com/victorfernandezesp/FutApi/wiki/8_Conclusiones">Conclusiones</a>
    <a href="https://github.com/victorfernandezesp/FutApi/wiki/9_Referencias_Bibliografia">Bibliografía</a>
    <a href="https://github.com/victorfernandezesp/FutApi/wiki/10_Anexo">Anexo</a>
    <a href="https://github.com/victorfernandezesp/FutApi/wiki/Manual_Despliegue">M. Despliegue</a>
    <a href="https://github.com/victorfernandezesp/FutApi/wiki/Manual_Usuario">M. Usuario</a>
</nav>

<section class="container">
    <h3>Introducción</h3>
    <p>Esta sección proporciona una visión general del proyecto y su importancia.</p>
    <h3>Objetivos</h3>
    <p>Describe los objetivos específicos y los requisitos necesarios para el proyecto.</p>

    <h3>Estudio Previo</h3>
    <p>Incluye un análisis preliminar y la investigación realizada antes de comenzar el proyecto.</p>

    <h3>Plan de Trabajo</h3>
    <p>Describe el cronograma y las fases del proyecto.</p>

    <h3>Diseño</h3>
    <p>Detalla el diseño del sistema.</p>

    <h3>Implantación</h3>
    <p>Explica cómo se llevó a cabo la implementación del proyecto.</p>

    <h3>Recursos</h3>
    <p>Lista los recursos utilizados para el proyecto, incluyendo hardware, software y personal.</p>

    <h3>Conclusiones</h3>
    <p>Proporciona un resumen de los resultados obtenidos y las lecciones aprendidas.</p>

    <h3>Bibliografía</h3>
    <p>Incluye todas las referencias y fuentes de información utilizadas en el proyecto.</p>


    <h3>Anexo</h3>
    <p>Incluye información adicional que sea relevante para el proyecto.</p>

    <h3>Manual de Despliegue</h3>
    <p>Proporciona instrucciones detalladas sobre cómo desplegar el proyecto.</p>

    <h3>Manual de Usuario</h3>
    <p>Incluye una guía para los usuarios finales sobre cómo utilizar el sistema.</p>
</section>