<section class="container">
    <h2>¿Qué es FutApi?</h2>
    <img src="../../../assets/imgs/2.png" alt="Logo">
    <p>FutApi es un innovador proyecto desarrollado en el ciclo superior de Desarrollo de Aplicaciones ("DAW") del IES
        Gran Capitán. Nuestro objetivo principal es proporcionar predicciones precisas y análisis detallados aplicados
        al mundo del fútbol, centrándonos en el rendimiento de los jugadores a lo largo de una temporada.</p>

    <h3>Inspiración y Origen</h3>
    <p>La idea de FutApi nació tras asistir a varias charlas inspiradoras de Miguel Ángel Arroyo, tutor de FCT de Javier
        Postigo Arévalo, durante las Sysmana organizadas por nuestro instituto en diferentes años. En estas charlas,
        Miguel Ángel utilizaba modelos de aprendizaje automático para realizar predicciones y proporcionar datos
        valiosos acerca de partidos y equipos de fútbol. Tomamos esta referencia y la adaptamos para enfocarnos
        específicamente en los jugadores, con el objetivo de predecir y evaluar su rendimiento.</p>

    <h3>¿Qué Ofrecemos?</h3>
    <p>En FutApi, utilizamos avanzados modelos de aprendizaje automático y técnicas de análisis de datos para:</p>
    <ul>
        <li>Predicción del Rendimiento: Anticipar el desempeño de los jugadores en una temporada.</li>
        <li>Análisis de Rendimiento: Evaluar el rendimiento de los jugadores en función de diversos parámetros y
            estadísticas.</li>
        <li>Datos Detallados: Proporcionar datos y estadísticas precisas sobre los jugadores y sus actuaciones en el
            campo.</li>
    </ul>

    <h3>¿Cómo Funciona?</h3>
    <p>Nuestra plataforma recoge y analiza una amplia variedad de datos relacionados con los jugadores de fútbol,
        incluyendo:</p>
    <ul>
        <li><strong>Estadísticas de Partidos</strong>: Goles, asistencias, minutos jugados, entre otros.</li>
        <li><strong>Datos Físicos y Técnicos</strong>: Precisión de pases, tiros a puerta, etc.</li>
    </ul>
    <p>Mediante el uso de algoritmos de aprendizaje automático, procesamos y analizamos esta información para generar
        predicciones y evaluaciones detalladas que pueden ser utilizadas por entrenadores, analistas deportivos, y
        aficionados al fútbol.</p>
    <p> Permitiendonos así poder hacer predicciones con jugadores que no están en la base de datos, ya que nuestro
        programa no necesita de jugadores reales para hacer predicciones, si tienes tus propias estadisticas puedes usar
        el programa y elaborar predicciones.</p>

    <h3>Nuestra Visión</h3>
    <p>FutApi aspira a convertirse en una herramienta esencial para la evaluación y predicción del rendimiento de
        jugadores de fútbol, aportando un valor significativo al análisis deportivo y apoyando a equipos y jugadores en
        su proceso de mejora continua.</p>

    <h3>Únete a Nosotros</h3>
    <p>Explora nuestra plataforma y descubre cómo FutApi puede transformar tu manera de entender y analizar el fútbol.
        Si eres un entusiasta del deporte, un analista, o simplemente alguien interesado en el fútbol, FutApi tiene algo
        valioso que ofrecerte.</p>
    <p>¡Bienvenido a FutApi, donde la tecnología y el fútbol se encuentran para ofrecerte una experiencia única de
        análisis y predicción!</p>
</section>