<section class="container">
    <h2>Clasificación</h2>
    
    <h3>Modelos de Aprendizaje Utilizados</h3>
    <p>En nuestro proyecto, hemos utilizado dos modelos de aprendizaje supervisado para realizar predicciones en el ámbito del fútbol: RandomForestClassifier y MLPClassifier, ambos disponibles en la biblioteca Stickylearn.</p>
    
    <h4>RandomForestClassifier</h4>
    <p>RandomForestClassifier es un algoritmo de aprendizaje supervisado que utiliza la técnica de "bosques aleatorios" para problemas de clasificación. Este modelo construye múltiples árboles de decisión durante el entrenamiento y combina sus predicciones para mejorar la precisión del modelo.</p>
    <p>En nuestro proyecto, hemos aplicado RandomForestClassifier para realizar una predicción y así clasificar por su posición en el campo teniendo en cuenta su estilo de juego (estadísticas).</p>
    
    <h4>MLPClassifier</h4>
    <p>MLPClassifier es un algoritmo de aprendizaje supervisado que utiliza una red neuronal de múltiples capas para problemas de clasificación. Este modelo aprende a partir de un conjunto de datos de entrenamiento y ajusta los pesos de las conexiones entre las neuronas para mejorar la precisión del modelo.</p>
    <p>En nuestro proyecto, hemos aplicado MLPClassifier para realizar una predicción y así clasificar por su posición en el campo teniendo en cuenta su estilo de juego (estadísticas).</p>
    </section>